@model Guardian.Text.Generator.Web.Models.ViewModels.HomepageViewModel;

<div class="container">
    <h4 class="display-4">@Model.Prompt</h4>
    <form method="post" asp-controller="Home" asp-action="Index">
        <div class="form-group">
            <label asp-for="@Model.CharacterRequest"></label>
            <input asp-for="@Model.CharacterRequest" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.WordRequest"></label>
            <input asp-for="@Model.WordRequest" />
        </div>
        <div class="form-group">
            <input type="submit" value="Choose Count" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <partial name="_PlaceholderResult" model="Model.ContentResult" />
</div>