@model Guardian.Text.Generator.Web.Models.ViewModels.HomepageViewModel;

<div class="container">
    <h4 class="display-4">@Model.Prompt</h4>
    <form method="post" asp-controller="Home" asp-action="Index">
        <div class="form-group">
            <label asp-for="@Model.ContentRequest.CharacterCount"></label>
            <input name="characterRequest" />
        </div>
        <div class="form-group">
            <label asp-for="@Model.ContentRequest.WordCount"></label>
            <input name="wordRequest" />
        </div>
        <div class="form-group">
            <input type="submit" value="Choose Count" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <p>@Model.Author.FirstName</p>
    <p>@Model.Author.LastName</p>
    <p>
        <a href="@Model.Author.Url" target="_blank">@Model.Author.Bio</a>
    </p>
    <img src="@Model.Author.AuthorImageSmall"/>
</div>

<div>
    <partial name="_PlaceholderResult" model="Model.ContentResult" />
</div>